
/* Generic vars for the global document  */
@baseFontFamily: Helvetica, Arial, Verdana, sans-serif;
@baseFontColor: #6b6b6b;
@baseFontSize: 14px;
@baseBackgroundColor:#F1F1F1; 


@applicationLeftPadding: 15px;

@dialogBackgroundColorStart: #666;
@dialogBackgroundColorEnd: #333;
@dialogBorderColor: #b0b0b0;
@dialogColor: #ffffff;
@dialogFontSize: 16px;
@dialogHeaderFontSize: @baseFontSize * 1.8;
@dialogContentPadding: 20px;
@dialogRadius: 3px;
@dialogInputHeight:35px;
@dialogErrorColor: #DD4B39;
@dialogErrorFontSize: 14px;

@dialogLeftDockWidth:350px;
@dialogTopDockHeight:350px;


/* Teaser vars   */
@teaserHeight: 42px;
@teaserFontColor: #ebebeb;
@teaserFontSize: 2.5em;


/* global toolbars like the one in the Navigation and Formular */
@toolbarHeight: 53px;
@toolbarPadding: 8px;
@toolbarBackgroundColorStart: @baseBackgroundColor;
@toolbarBackgroundColorEnd: darken(@baseBackgroundColor,10%);
@toolbarButtonFontColor: darken(@baseBackgroundColor,80%); 
@toolbarButtonColorDelete: #DD4B39;
@toolbarButtonColorAdd: #3D9400;
@toolbarButtonColorOk: #4D90FE;
@toolbarButtonRadius: 2px;
@toolbarButtonLetterSpacing: 1px;

@navigationEntryHeight:30px;

/* palette stuff */
@paletteElementOuterHeight:30px;
@paletteElementImageHeight:30px;
@paletteElementColor: #AEAEAE;
@palettePropertyHeaderFontSize:@baseFontSize * 1.2;
@palettePropertyListFontSize:@baseFontSize * 1.2;
@paletteUIElementFontSize:@baseFontSize * 1.2;
@paletteButtonGroupHeight:30px;
@paletteButtonGroupRadius: 3px;


@breadcrumbHeight: @toolbarHeight;
@breadcrumbFontSize: @baseFontSize * 1.2;

@formularBackgroundColor: @baseBackgroundColor;
@formularInputBackgroundColor: darken(@baseBackgroundColor,2%);

@paneTabBackgroundColor:#ebebeb;
@paneTabFontColor:#333333;
@paneActiveTabBackgroundColor: darken(@paneTabBackgroundColor,10%);
@paneActiveTabFontColor:#333333;
@paneTabFontSize: @baseFontSize* 1.1;

@navigationListFontColor: #AEAEAE;
@navigationListActiveFontColor:lighten(@navigationListFontColor,20%);
@navigationListEntryHeight:30px;
@navigationListHeaderFontSize: @baseFontSize * 1.6;
@navigationListHeaderFontColor : lighten(@navigationListFontColor,20%);
@navigationListEntryFontSize:@baseFontSize * 1.4;


.resizeHandle(){
 width:33px;
 height:33px;
 border: 0px !important; 
}
.resizeHandleN(){
background: url("../images/ResizeHandle_N.png") no-repeat;
}
.resizeHandleNE(){
background: url("../images/ResizeHandle_NE.png") no-repeat;
}
.resizeHandleE(){
background: url("../images/ResizeHandle_E.png") no-repeat;
}
.resizeHandleSE(){
background: url("../images/ResizeHandle_SE.png") no-repeat;
}
.resizeHandleS(){
background: url("../images/ResizeHandle_S.png") no-repeat;
}
.resizeHandleSW(){
background: url("../images/ResizeHandle_SW.png") no-repeat;
}
.resizeHandleW(){
background: url("../images/ResizeHandle_W.png") no-repeat;
}
.resizeHandleNW(){
background: url("../images/ResizeHandle_NW.png") no-repeat;
}
