
* {
 margin: 0;
 color:#EBEBEB;
}
   
   
html, body {
 height: 100%;
 width:100%;
 overflow:hidden;
 font-family:Helvetica, Arial, Verdana, sans-serif;
}

input{
  color:#303030;
  height:25px;
  line-height:25px;
  font-size:14px;
}
option{
  color:#303030;
  height:25px;
  line-height:25px;
  font-size:14px;
}
select{
  color:#303030;
  height:25px;
  line-height:25px;
  font-size:14px;
}

td{
vertical-align:top;
padding-bottom:20px;
}

#container_license{
 width:100%;;
 margin: 0 auto;
}


#container_license h3{
 background-color: rgba(200, 200, 200, 0.1);
 margin-top: 30px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-top: 10px;
}

#container_license h3:first-child{
 margin-top: 0px;
}


#container_license h4{
 margin-top: 20px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-top: 10px;
}


#container_license p{
 padding-left: 10px;
}


#container_content {
 background: url("../images/background.png") repeat scroll 0 0 transparent;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -5.5em;
 padding-left:80px;
 padding-right:80px;
}
    
#header{
 background: url("../images/header.jpg") repeat-x scroll 50% 50% #32323D;
 border: 0px;
 font-size: 2em;
 height:60px;
 line-height: 60px;
 color:#EBEBEB;
 font-weight:normal;
 letter-spacing:2px;
 -webkit-tap-highlight-color: rgba(0,0,0,0); 
 padding-left:80px;
}

.title{
 margin: 0 auto;
 text-align:center;
 font-size: 1.5em !important;
 font-weight: normal !important;
 text-align: left;
 text-transform: none !important;
 padding-top:40px;
 color:#EBEBEB;
 padding-bottom:5px;
}

.subtitle{
 margin: 0 auto;
 text-align:center;
 font-size: 1.2em !important;
 font-weight: normal !important;
 text-align: left;
 text-transform: none !important;
 margin-bottom:40px;
 color:#a0a0a0;
 padding-top:10px;
}

.root_path{
 color:#b0b0b0;
}

#buttonContinue{
 float:right;
}

.error{
 margin-top:20px;
 color:red;
}

.error_flag{
color:red;
padding:5px;
padding-left:20px;
}

.success_flag{
color:green;
padding:5px;
padding-left:20px;
}

.input-box{
 display: inline-block;
 overflow: hidden;
 vertical-align: top;
 width: 320px;
 margin-top:10px;
}

.divider{
border-top:1px solid black;
margin-top:20px;
margin-bottom:20px;
}

.wizard_step{
 height:330px;
 overflow-x: hidden;
 overflow-y: auto;
 background-color: rgba(200, 200, 200, 0.1);
 border: 1px solid #A0A0A0;
 padding:10px;
 margin-bottom:10px;
}
 

    #footer, .push {
    height: 4em;
    text-align:center;
    }


.ui-button-text{
	color:#202020 !important;
}

.ui-state-disabled {
background-color:rgba(200,200,200,0.9) !important;
}