 * {
 margin: 0;
 color:#EBEBEB;
}
    
html, body {
 height: 100%;
 width:100%;
 overflow:hidden;
 font-family:Helvetica, Arial, Verdana, sans-serif;
}

select{
 color:#303030;
 height:25px;
 line-height:25px;
 padding-top:3px;
}
option{
 color:#303030;
 height:25px;
 line-height:25px;
 padding-top:3px;
}

input{
 color:#303030;
 height:25px;
}

table{
 border-collapse:collapse;
}

th{
 text-align:left;
 border:0px;
 border-bottom:1px solid white;
 padding-bottom:5px;
 padding-left:10px;
}

td{
 padding-left:10px;
 vertical-align: top;
}

#container_license{
width:100%;;
height:100%;
overflow:scroll;
margin: 0 auto;
}

    
#container_content {
 background: url("../images/background.png") repeat scroll 0 0 transparent;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -5.5em;
 padding-left:80px;
 padding-right:80px;
}
    
#header{
 background: url("../images/header.jpg") repeat-x scroll 50% 50% #32323D;
 border: 0px;
 font-size: 2em;
 height:60px;
 line-height: 60px;
 color:#EBEBEB;
 font-weight:normal;
 letter-spacing:2px;
 -webkit-tap-highlight-color: rgba(0,0,0,0); 
 padding-left:80px;
}

.title{
 margin: 0 auto;
 font-size: 1.5em !important;
 font-weight: normal !important;
 text-align: left;
 text-transform: none !important;
 padding-top:40px;
 color:#EBEBEB;
}

.subtitle{
 margin: 0 auto;
 font-size: 1.2em !important;
 font-weight: normal !important;
 text-align: left;
 text-transform: none !important;
 margin-bottom:10px;
 color:#a0a0a0;
 padding-top:10px;
}

.root_path{
 color:#b0b0b0;
}

#buttonContinue{
 float:right;
}

.error{
 margin-top:20px;
 color:red;
}

.error_flag{
color:red;
padding:5px;
padding-left:20px;
}

.success_flag{
color:green;
padding:5px;
padding-left:20px;
}

.input-box{
 display: inline-block;
 overflow: hidden;
 vertical-align: top;
 width: 220px;
 margin-top:30px;
}

.divider{
border-top:1px solid black;
margin-top:20px;
margin-bottom:20px;
}

.wizard_step{
 height:300px;
 padding-top:20px;
 padding-bottom:20px;
}

#footer, .push {
 height: 4em;
 text-align:center;
}


#container_license h3{
background-color:gray;
}

.ui-button-text{
	color:#202020 !important;
}