li.palette_part
{
list-style-image:none;
list-style-type:none;
margin-top:20px;
margin-left:10px;
}

.dropzone_glow
{
background-color:yellow;
background: #fefcea; /* old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* ie */
border:2px solid #9dd53a !important;
}

.droppable_hover
{
background: #9dd53a ; /* old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* ie */
}

/* The object palette on the left hand side. The panel which contains the Server, Storage and
 * Switch object to drop inside the canvas.
 * 
 */
#object_panel
{
border:1px solid #e0e0e0;
background-color:#F2F3F4;
color:#a0a0a0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}


/* The main canvas/network paint area
 * 
 */
#paintarea
{
background: #fff;
}


.handle
{
cursor:move;
}

.DropZone
{
z-index:10000;
border:1px solid transparent;
}

.topLevel
{
z-index:20000 !important;
}

.noSize
{
width:1px !important;
height:1px !important;
}

.antBox
{
border: 2px dotted gray !important;
}


.AbstractBlock
{
border:1px solid gray;
text-align:left;
color:#3E3E3E;
cursor:pointer;
}


.Parameter_slot
{
position:absolute;
top:5px;
left:-19px;
}

.Parameter_decoration
{
position:absolute;
color:#606060;
text-align:right;
width:50px;
left:-70px;
top:10px;
font-size:8px;
font-weight:bold;
}

.Parameter_decoration_plugged
{
top:15px;
font-weight:normal;
}

/*******************************************************************************************/
.ControlBlock_Start
{
background-color:#AEDB56;
text-align:center;
color:#3E3E3E;
border:1px solid black;
}


/*******************************************************************************************/
.AbstractText
{
background-color: #0095cd;
}

.AbstractText_label
{
text-align:right;
color:#3E3E3E;
font-size:10pt;
left:3px;
top:10px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
white-space:nowrap;
}

.AbstractText_decoration
{
position:absolute;
display:block;
top:1px;
left:3px;
font-size:9px;
color:#0C5B87;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractText_parameter_decoration
{
color:#0C5B87;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractText_plug
{
position:absolute;
top:5px;
left:-30px;
background-image:url(images/ControlBlock_AbstractText_plug.gif);
height:20px;
width:30px;
}

.ControlBlock_Text_palette
{
background-image: url(images/ControlBlock_Text.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_Join_palette
{
background-image: url(images/ControlBlock_Join.gif);
height:100px;
width:150px;
cursor:move;
}

.ControlBlock_Text
{
}

/*******************************************************************************************/
.AbstractUI
{
background-color: #64991e;
}

.AbstractUI_label
{
text-align:right;
color:white;
font-size:10pt;
left:3px;
top:10px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
white-space:nowrap;
}

.AbstractUI_decoration
{
position:absolute;
top:1px;
left:3px;
font-size:9px;
color:gray;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractUI_parameter_decoration
{
color:white;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractUI_plug
{
position:absolute;
top:5px;
left:-30px;
background-image:url(images/ControlBlock_AbstractUI_plug.gif);
height:20px;
width:30px;
}

.ControlBlock_Prompt_palette
{
background-image: url(images/ControlBlock_Prompt.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_Alert_palette
{
background-image: url(images/ControlBlock_Alert.gif);
height:40px;
width:150px;
cursor:move;
}

/*******************************************************************************************/
.ControlBlock_If
{
background-color:#cb60b3;
}

.ControlBlock_If_label_if
{
color:white;
font-size:12pt;
left:5px;
top:7px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.ControlBlock_If_label_test
{
color:white;
font-size:10pt;
left:55px;
top:9px;
position:absolute;
font-weight:normal;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.ControlBlock_If_label_then
{
color:white;
font-size:10pt;
left:20px;
position:absolute;
font-weight:normal;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.ControlBlock_If_label_else
{
color:white;
font-size:10pt;
left:20px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.ControlBlock_If_palette
{
background-image: url(images/ControlBlock_If.gif);
height:190px;
width:150px;
cursor:move;
}

/*******************************************************************************************/
.AbstractMath
{
background-color:#575757;
}

.AbstractMath_label
{
color:white;
font-size:10pt;
left:3px;
top:13px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.AbstractMath_decoration
{
position:absolute;
top:1px;
left:3px;
font-size:9px;
color:white;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractMath_plug
{
position:absolute;
top:5px;
left:-30px;
background-image:url(images/ControlBlock_AbstractMath_plug.gif);
height:20px;
width:30px;
}

.AbstractMath_parameter_decoration
{
color:white;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.ControlBlock_Add_palette
{
background-image: url(images/ControlBlock_Add.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_Divide_palette
{
background-image: url(images/ControlBlock_Divide.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_Max_palette
{
background-image: url(images/ControlBlock_Max.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_Min_palette
{
background-image: url(images/ControlBlock_Min.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_Multiply_palette
{
background-image: url(images/ControlBlock_Multiply.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_RoundUp_palette
{
background-image: url(images/ControlBlock_RoundUp.gif);
height:80px;
width:150px;
cursor:move;
}

.ControlBlock_Sqrt_palette
{
background-image: url(images/ControlBlock_Sqrt.gif);
height:40px;
width:150px;
cursor:move;
}

/*******************************************************************************************/
.AbstractData
{
background:#f78d1d;
}

.AbstractData_label
{
text-align:right;
color:#3E3E3E;
font-size:10pt;
left:3px;
top:10px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
white-space:nowrap;
border: 2px solid transparent;
padding-right:20px;

font-weight:bold;
}

.AbstractData_selector
{
text-align:right;
color:#755283;
background-color:transparent;
font-size:10pt;
right:30px;
top:10px;
position:absolute;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
white-space:nowrap;
border:1px solid #755283;
cursor:pointer;
}

.AbstractData_selectormenu
{
text-align:right;
color:#755283;
font-size:10pt;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
white-space:nowrap;
cursor:pointer;
padding-left:5px;
padding-right:5px;
z-index:10000;
position:absolute;
background-color:#C086D5;
border:1px solid #755283;
}

.AbstractData_selectormenu a
{
color:#3E3E3E;
text-decoration:none;
}

.AbstractData_selectormenu a:hover
{
text-decoration:underline;
}

.AbstractData_decoration
{
position:absolute;
top:1px;
left:3px;
font-size:9px;
color:#755283;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
font-style:italic;
}

.AbstractData_plug
{
position:absolute;
top:5px;
left:-30px;
background-image:url(images/ControlBlock_AbstractData_plug.gif);
height:20px;
width:30px;
}

.ControlBlock_SetField_palette
{
background-image: url(images/ControlBlock_SetField.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_UseField_palette
{
background-image: url(images/ControlBlock_UseField.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_UseFieldFrom_palette
{
background-image: url(images/ControlBlock_UseFieldFrom.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_UseVariable_palette
{
background-image: url(images/ControlBlock_UseVariable.gif);
height:40px;
width:150px;
cursor:move;
}

.ControlBlock_DefineVariable_palette
{
background-image: url(images/ControlBlock_DefineVariable.gif);
height:40px;
width:150px;
cursor:move;
}


/*******************************************************************************************/


.palette_part
{
cursor:move;
}

.transparent_message
{
height:50px;
padding-top:20px;
background-color:rgba(0,0,0,0.8) !important;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

/* The top Toolbar and the buttons (Save, Undo, Redo,...) inside
 * 
 */
#toolbar
{
left:0px;
top:0px;
height:35px;
background: transparent url(editor//bg_map_toolbar.gif) top left repeat-x;
border: none;
border-bottom: 1px solid #1259a4;
font-size: smaller;
width: 100%;
padding:0px;
margin:0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.toolbar_button_group {
float:left;
margin:3px 0 0 15px;
padding:0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.toolbar_button {
background:url("editor//bg_toolbar_button.gif") no-repeat scroll 0 0 transparent;
float:left;
list-style-image:none;
list-style-type:none;
margin:0;
padding:0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

a.toolbar_button {
color:white;
cursor:pointer;
height:27px;
line-height:27px;
margin:0;
padding:0 10px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

a.toolbar_button_disabled {
color:#4A95CC !important;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.first_button {
background-position:0 0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.first_button:hover {
background-position:0 -27px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.center_button {
background-position:-20px 0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.center_button:hover {
background-position:-20px -27px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.last_button {
background-position:100% 0;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

li.last_button:hover {
background-position:100% -27px;
font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}


.tab-container 
{ 

}

.tab-container * { padding:0; margin:0 }

.tab-container .tabs 
{ 
  height:25px; 
  overflow:hidden 
}

.tab-container .tabs li 
{ 
display:block; 
float:left; 
height:25px; 
line-height:25px; 
padding:0 .5em; 
background:#eee; 
border-right:1px solid gray;
}
.tab-container .tabs li.current { font-weight:bold; background:#ccc }

.tab-container .tabs li a 
{ 
  color:#999; 
  font-size:10px; 
  text-decoration:none 
}
.tab-container .tabs li a:hover { text-decoration:underline }
.tab-container .tabs li.current a,
.tab-container .tabs li.current a:hover { color:#666 }

.tab-container .tab 
{ 
   border-top:1px solid gray; 
   background:transparent;
   width:100%;
}

